body {
    margin: 0;
    padding: 0;
    background-color: #e5d9c9;
    font-family: 'Rubik', sans-serif;
    user-select: none;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Shadows Into Light', cursive;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

#image {
    width: 320px;

}

#input-field {
    padding: 10px;
    text-align: center;
    max-width: 250px;
    margin-top: 40px;
    border: 0;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    background-color: #dae0ec;
    color: #432000;
    width: 69%;
}

#add-button {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-color: #431400;
    border-radius: 8px;
    background-color: #FF5757;
    font-weight: 600;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#add-button:hover {
    background-color: #c12e49;
    font-weight: 700;
    cursor: pointer;
}

ul {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

ul li {

    font-size: 17px;
    color: white;
    border-radius: 8px;
    background-color: #6EA501;
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik', sans-serif;


}

ul li:hover {
    background-color: #486a04;
    cursor: pointer;
}

/* MIC */
#mic-on {
    background: rgba(5, 48, 14, 0.825);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 40px;
    margin-left: -25px;
    
    height: 2rem;
   
}
#mic-off{
        background: rgba(5, 48, 14, 0.825);
            border-radius: 50%;
            cursor: pointer;
            margin-top: 40px;
            margin-left: -25px;
            display:none;
            height: 2rem;

}
#clear-input-field{
        background: rgb(248, 240, 240);
        border-radius: 50%;
        cursor: pointer;

        margin-top: 40px;
        margin-left: -30px;
        /* float: right; */
        height: 2rem;

}

.input-text-mic{
   
    display:flex;
    align-items:center;
    column-gap: 33px;
    max-width: 320px;
    
}
.input-text-mic p{
    margin:-25px 0 0 -108px;

}